/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    /*===== Colors =====*/
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #a6a6a6;
    --body-color: #fbfefd;
    --contaiiner-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 4rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: .938rem;
        --small-font-size: .938rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/

*,::before,::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;
}

.section-tile, .section-subtitle{
    text-align: center;
}

.section-tile{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);   
}

.section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/

/*========== NAV ==========*/

/* Show menu */
/* Active menu */
/* Change background header */
/* Scroll top */
/* Show scrolltop */

/*========== HOME ==========*/

/*========== BUTTONS ==========*/

/*========== ABOUT ==========*/

/*========== SERVICES ==========*/

/*========== MENU ==========*/

/*========== APP ==========*/

/*========== CONTACT ==========*/

/*========== FOOTER ==========*/

/*========== MEDIA QUERIES ==========*/

/* For tall screens on mobiles y desktop*/